// Color Palette
$footer-text: #636C1B;
$yellow: #F4EBBE;
$light-yellow: #F9F5DE;
$dark-yellow: #B9A01F;
$sage: #CACC90;
$light-sage: #E4E5C7;
$dark-sage: #757740;
$green: #75704E;
$light-green: #C0BCA0;
$dark-green: #3B3827;
$shadow: #707070;
$form-color: #927F11;
$dark-teal: #415658;